* {
    box-sizing: border-box;
}

h1 {
    color: red;
    margin: 30px 0px;
}

.text {
    background: blue;
    color: #fff;
    width: 99px;
    margin-bottom: 100px;
}

span {
    color: red;
}

.head1 {
    color: #fff;
    background: green; 
}

.head2 {
    color: #fff;
    background: green;
    padding: 50px;
}

.text2 {
    padding-left: 100px;
}

li {
    border: 1px solid #000;
}



